.display-inline {
	display: inline;
	padding: 2px;
	float: left;
}

.highlight {
	background-color: blue !important;
}

.no-highlight {
	background-color: white;
}

.search-highlight {
	background-color: green;
}

.reduce-padding {
	padding: 0;
}

.table-height {
	height: 400px;
	overflow-y: scroll;
}

.main-columns {
	position: relative;
}

.no-filter {
	display: none;
}